<form autocomplete="off" data-id="{{_id}}" data-type="{{type}}">
    {{> "aafo.advancement-controls"}}
    <div class="form-group">
        <label>{{localize "AAFO.AdvancementAbilityScoreImprovementCap"}}</label>
        <div class="form-fields">
            <input type="number" name="configuration.cap" value="{{configuration.cap}}" min="1" step="1"
                         placeholder="{{localize 'None'}}">
        </div>
        <p class="hint">{{localize "AAFO.AdvancementAbilityScoreImprovementCapHint"}}</p>
    </div>

    <ul class="ability-scores">
        {{> "aafo.advancement-ability-score-control" points canAdjust=true}}
        <li class="hint">
            {{localize "AAFO.AdvancementAbilityScoreImprovementPointsHint"}}
        </li>
        {{#each abilities}}
        {{> "aafo.advancement-ability-score-control" this canAdjust=true}}
        {{/each}}
    </ul>
</form>
