<form id="{{appId}}" data-level="{{level}}" data-id="{{advancement.id}}" data-type="{{type}}">
    <h3>{{{title}}}</h3>
    <div>
        <label>{{localize "AAFO.AdvancementHitPointsTitle"}}</label>
        <span>{{advancement.configuration.hp}}</span>
    </div>
    <div>
        <label>{{localize "AAFO.AdvancementStaminaPointsTitle"}}</label>
        <span>{{advancement.configuration.sp}}</span>
    </div>
</form>
