<form autocomplete="off" data-id="{{_id}}" data-type="{{type}}">
    {{> "aafo.advancement-controls"}}
    <ul class="skill-scores">
        {{> "aafo.advancement-skill-control" points canAdjust=true}}
        <li class="hint">
            {{localize "AAFO.AdvancementSkillImprovementPointsHint"}}
        </li>
    </ul>

    <fieldset class="selected-trait">
        <legend>{{localize "AAFO.AdvancementTraitGrants"}}</legend>
        <p class="hint">{{localize "AAFO.AdvancementTraitGrantsHint"}}</p>
        <ul class="skill-scores">
            {{#each skills}}
            {{> "aafo.advancement-skill-control" this canAdjust=true}}
            {{/each}}
        </ul>
    </fieldset>
</form>
